﻿@{

    var user = Session["TaiKhoan"] as BookStoreOnline.Models.KHACHHANG;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAHASA</title>
    <link rel="icon" href="~/Images/z5482551824090_8d0041d8091c42fc59c7cfff0e837099.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/AdminAssets/css/SignUp.css" rel="stylesheet" />
</head>

<body style="background: #F9F5EE">
    <!-- header     -->
    <div style="background-color: #F9F5EE;" class="header">
        <div style="height:68px;" class="container head-content">
            <div class="row">
                <div style=" " class="logo">
                    <a href="@Url.Action("Index","Home")"><img style=" border-radius: 50%; height: 100px; width: 80%;" src="~/Images/z5482551824090_8d0041d8091c42fc59c7cfff0e837099.jpg" alt=""></a>
                </div>



                <div style="margin-left: 80px;" class="col-lg-6 head-middle">

                    @using (Html.BeginForm("Search", "Category", FormMethod.Post))
                    {
                        <input style="width: 484px;" type="text" name="inputString" placeholder="Nhập từ khóa tìm kiếm...">
                        <button style="width: 91px; background-color: #c92127" type="submit"><i class="bi bi-search"></i></button>
                    }
                </div>
                <div class="col-lg-3 head-right">
                    @if (user == null)
                    {
                        <a href="@Url.Action("Login","User")" style="margin-left: 50px;" class="cart-link"><i style="color: #C92127; margin-left: 56px; " class="bi bi-cart-fill"></i><span class="icon-down"><i class="bi bi-chevron-down"></i></span></a>


                    }
                    else
                    {
                        { Html.RenderAction("CartPartial", "Cart"); }
                    }

                    @if (user == null)
                    {
                        <a style="background-color: #fff; color: #000; font-size: 15px;" href="@Url.Action("SignUp", "User")" class="custom-btn btn-login">Đăng ký</a>
                        <a style="background-color: #C92127; font-size: 15px;" href="@Url.Action("Login", "User")" class="custom-btn btn-signup">Đăng nhập</a>
                    }
                    else
                    {
                        <div class="dropdown show">
                            <a class="user-link-option" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="margin: 20px; color: #c92127;" class="bi bi-person-circle"></i>
                                <p style="font-size: 18px; color: #000; width: 100px; "> @user.Ten</p>

                            </a>


                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("UpdateInfo", "User")">Thông Tin Cá Nhân</a>
                                <a class="dropdown-item" href="@Url.Action("Index/"+user.MaKH,"Order")">Đơn Hàng Của Bạn</a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "User")">Đổi Mật Khẩu</a>
                                <a class="dropdown-item" href="@Url.Action("LogOut","User")">Đăng Xuất</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>

    </div>
    <!-- end-header -->
    <!-- nav -->
    <div class="nav">
        <div style="margin-top:20px; margin-bottom:-10px" class="container nav-list">
            <div class="row" style="align-items: center; background: #C92127; padding:3px; border-radius:3px;">

                <div class="col-lg-2">
                    <div style="margin-left: 20px;z-index:1;" class="col-lg-1">
                        @{Html.RenderAction("GetPartialCategoryNav", "CategoryPartial");}
                    </div>
                </div>

                <div class="col-lg-8">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="">
                            <div style="margin-left: 49px;" class="navbar-nav">
                                <a style="color: #000; margin-right: 40px;  height: auto; box-shadow: none; font-weight:500; " class="nav-item nav-link " href="@Url.Action("Index","Home")">Trang chủ <span class="sr-only">(current)</span></a>
                                <a style="color: #000; margin-right: 40px; height: auto; width: auto; box-shadow: none; font-weight: 500; " class="nav-item nav-link " href="@Url.Action("GetAllBook","Category")">Tất cả sản phẩm</a>
                                <a style="color: #000; margin-right: 40px; height: auto; box-shadow: none; font-weight: 500; " class="nav-item nav-link " href="@Url.Action("Index","GioiThieu")">Giới thiệu</a>
                                <a style="color: #000; height: auto; box-shadow: none; font-weight: 500; " class="nav-item nav-link " href="@Url.Action("Index", "LienHe")">Liên hệ</a>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <!-- end-nav -->
    @RenderBody()
    <footer style="padding:10px;font-size:12px;height:576px;">

        <div class="footer-container">
            <div class="row">
                <div class="col-md-4">
                    <div style="border-right: 1px solid #cecece;height:300px;display:block;margin-bottom:100px" ; class="footer-information">
                        <img style="width:450px;" src="~/Images/z5482551824090_8d0041d8091c42fc59c7cfff0e837099.jpg" />
                    </div>
                </div>
                <div style="float:right" class="col-md-8">
                    <div class="col footer-item col-four">
                        <h4>Dịch vụ </h4>
                        <p class="text-footer">
                            Giới thiệu về nhà sách
                        </p>
                        <p class="text-footer">
                            Hệ thống nhà sách
                        </p>
                        <p class="text-footer">
                            Điều khoản sử dụng
                        </p>
                        <p class="text-footer">
                            Chính sách bảo mật
                        </p>
                        <p class="text-footer">
                            Chính sách bán hàng
                        </p>
                        <p class="text-footer">
                            Phương thức vận chuyển
                        </p>
                    </div>



                    <div class="col footer-item col-four">

                        <h4>Tài khoản của tôi </h4>

                        <p class="text-footer">
                            Đăng nhập/Tạo mới tài khoản
                        </p>
                        <p class="text-footer">
                            Thay đổi dịa chỉ khách hàng
                        </p>
                        <p class="text-footer">
                            Chi tiết tài khoản
                        </p>
                        <p class="text-footer">
                            Lịch sử mua hàng
                        </p>

                    </div>
                    <div class="col footer-item col-four">
                        <h4>Hỗ trợ</h4>
                        <p class="text-footer">
                            Chính sách đổi - trả - hoàn tiền
                        </p>
                        <p class="text-footer">
                            Chính sách bảo hành - bồi hoàn
                        </p>
                        <p class="text-footer">
                            Chính sách vận chuyển
                        </p>
                        <p class="text-footer">
                            Chính sách khách sỉ
                        </p>
                        <p class="text-footer">
                            Phương thức thanh toán và xuất HĐ
                        </p>
                    </div>
                    <div class="col footer-item col-four">
                        <h4>Liên hệ chúng tôi </h4>
                        <p class="text-footer">
                            Địa chỉ:60-62 Lê Lợi, Q.1, TP. HCM
                        </p>
                        <p class="text-footer">
                            Hotline:00000000000<br>
                            Email:Nhasach@gmail.com
                        </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-donvihotro">
                        <img style="display:block" src="~/Images/donvihotro.jpg" />
                    </div>

                </div>
            </div>
        </div>
        <div style="margin-top:60px;margin-left:120px; text-align:center;display:inline-block;" class="copyright">
            <h6>

                Giấy chứng nhận Đăng ký Kinh doanh số 0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 20/12/2005, đăng ký thay đổi lần thứ 10, ngày 20/05/2022.
            </h6>
        </div>


    </footer>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Start of LiveChat (www.livechat.com) code -->
    <!-- Start of LiveChat (www.livechat.com) code -->
    <script>
        window.__lc = window.__lc || {};
        window.__lc.license = 18327681;
        window.__lc.integration_name = "manual_channels";
        window.__lc.product_name = "livechat";
        ; (function (n, t, c) { function i(n) { return e._h ? e._h.apply(null, n) : e._q.push(n) } var e = { _q: [], _h: null, _v: "2.0", on: function () { i(["on", c.call(arguments)]) }, once: function () { i(["once", c.call(arguments)]) }, off: function () { i(["off", c.call(arguments)]) }, get: function () { if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load."); return i(["get", c.call(arguments)]) }, call: function () { i(["call", c.call(arguments)]) }, init: function () { var n = t.createElement("script"); n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n) } }; !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e }(window, document, [].slice))
    </script>
    <noscript><a href="https://www.livechat.com/chat-with/18327681/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
    
    <!-- End of LiveChat code -->
</body>
</html>