@model IEnumerable<BookStoreOnline.Models.DANHGIA>

@{
    ViewBag.Title = "Quản lý bình luận";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Đánh Giá</h2>
<title>Đánh Giá</title>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Khách hàng</th>
            <th>Sản phẩm</th>
            <th>Nội dung</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.KHACHHANG.Ten</td>
                <td>@review.SANPHAM.TenSanPham</td>
                <td>@review.NoiDung</td>
                <td>@review.NgayTao.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    @Html.ActionLink("Xóa", "Delete", new { id = review.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>